html, body{

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(195, 235, 246);
    display: flex;
    justify-content: center;

    
   
}

.content{

    align-self: center;
    background-color: white;
    width: 90%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.git{

    background-color: rgb(195, 235, 246); 
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    padding: 8px 15px; 
    border: 2px solid black; 
    display: inline-block; 

}
